.section {
  position: relative;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 76.125rem;
  margin: 0 auto;
}

.grid--parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid--column {
  flex-direction: column;
}

.grid--left {
  justify-content: flex-start;
}

.grid--right {
  justify-content: flex-end;
}

.grid--between {
  justify-content: space-between;
}

.grid-cell {
  width: 100%;
}

@media (--medium-viewport) {
  /* .grid-cell { */
  /* flex: 1; */
  /* } */
  .grid-12 {
    /* flex: 0 0 100%; */
    width: 100%;
  }
  .grid-11 {
    /* flex: 0 0 91.67%; */
    width: 91.67%;
  }
  .grid-10 {
    /* flex: 0 0 83.33%; */
    width: 83.33%;
  }
  .grid-9 {
    /* flex: 0 0 75%; */
    width: 75%;
  }
  .grid-8 {
    /* flex: 0 0 66.67%; */
    width: 66.67%;
  }
  .grid-7 {
    /* flex: 0 0 58.33%; */
    width: 58.33%;
  }
  .grid-6 {
    /* flex: 0 0 50%; */
    width: 50%;
  }
  .grid-5 {
    /* flex: 0 0 41.67%; */
    width: 41.67%;
  }
  .grid-4 {
    /* flex: 0 0 33.33%; */
    width: 33.33%;
  }
  .grid-3 {
    /* flex: 0 0 25%; */
    width: 25%;
  }
  .grid-2 {
    /* flex: 0 0 16.67%; */
    width: 16.67%;
  }
  .grid-1 {
    /* flex: 0 0 8.33%; */
    width: 8.33%;
  }
  .grid--gutters {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    & .grid-cell {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  .offset-12 { margin-left: 100%; }
  .offset-11 { margin-left: 91.67%; }
  .offset-10 { margin-left: 83.33%; }
  .offset-9 { margin-left: 75%; }
  .offset-8 { margin-left: 66.67%; }
  .offset-7 { margin-left: 58.33%; }
  .offset-6 { margin-left: 50%; }
  .offset-5 { margin-left: 41.67%; }
  .offset-4 { margin-left: 33.33%; }
  .offset-3 { margin-left: 25%; }
  .offset-2 { margin-left: 16.67%; }
  .offset-1 { margin-left: 8.33%; }

}

.secondary-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 65.625rem;

  @media (--medium-viewport) {
    padding-left: 3.75rem;
    padding-right: 3.75rem;

    & .grid--gutters {
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

      & .grid-cell {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
      }
    }
  }
}

.grid-cell--no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
